<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ArbinProgressiveAboutYourSelf()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ArbinProgressiveAboutYourSelf</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:31</td>   <td>5053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ArbinProgressiveAboutYourVehicle()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ArbinProgressiveAboutYourVehicle</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:37</td>   <td>11278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveAutoQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ProgressiveAutoQuote</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:51</td>   <td>25270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveGetAQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ProgressiveGetAQuote</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:53</td>   <td>27802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveStartMyQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">ProgressiveStartMyQuote</td> 
  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:20</td>   <td>-5634</td> <td title="&gt;&gt;ProgressiveAutoQuoteTestNg.beforeSuit()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:20</td>   <td>-5629</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveAutoQuoteTestNg.setUptest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:31</td>   <td>5052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:37</td>   <td>11278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:51</td>   <td>25270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:06:53</td>   <td>27802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:07:07</td>   <td>41882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:07:18</td>   <td>52681</td> <td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/14 13:07:07</td>   <td>41884</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.terminateTest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@124c278f]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
</table>
