<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a778df">  <td>20/02/14 11:12:52</td>   <td>0</td> <td title="&gt;&gt;ProgressiveAutoQuoteTestNg.beforeSuit()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/02/14 11:12:52</td>   <td>6</td> <td>&nbsp;</td><td title="&gt;&gt;GoolgeTestNg.setUptest()[pri:0, instance:TestNg.GoolgeTestNg@124c278f]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:12:58</td>   <td>5889</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveAutoQuoteTestNg.setUptest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/02/14 11:13:03</td>   <td>11626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoolgeTestNg.performAction()[pri:0, instance:TestNg.GoolgeTestNg@124c278f]">performAction</td> 
  <td>TestNG-test=Test-2@809736433</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:03</td>   <td>11626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveAboutYourSelf()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">ProgressiveAboutYourSelf</td> 
  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:09</td>   <td>16678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:09</td>   <td>16680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveAboutYourVehicle()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">ProgressiveAboutYourVehicle</td> 
  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:15</td>   <td>22904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:15</td>   <td>22904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveAutoQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">ProgressiveAutoQuote</td> 
  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:33</td>   <td>41129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:33</td>   <td>41129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveGetAQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">ProgressiveGetAQuote</td> 
  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:36</td>   <td>43792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:36</td>   <td>43792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveStartMyQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">ProgressiveStartMyQuote</td> 
  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:13:51</td>   <td>58894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@1562635779</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>20/02/14 11:13:51</td>   <td>58895</td> <td>&nbsp;</td><td title="&lt;&lt;GoolgeTestNg.terminateTest()[pri:0, instance:TestNg.GoolgeTestNg@124c278f]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:14:06</td>   <td>73795</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.terminateTest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
<tr bgcolor="a778df">  <td>20/02/14 11:14:17</td>   <td>85166</td> <td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@61dd025]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1541857308</td>   <td></td> </tr>
</table>
