<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ad2e3">  <td>20/02/10 13:36:18</td>   <td>0</td> <td title="&gt;&gt;ProgressiveAutoQuoteTestNg.beforeSuit()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@5bfa9431]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1019384604</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>20/02/10 13:36:18</td>   <td>5</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveAutoQuoteTestNg.setUptest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@5bfa9431]">&gt;&gt;setUptest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1019384604</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>20/02/10 13:36:25</td>   <td>6203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveAutoQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@5bfa9431]">ProgressiveAutoQuote</td> 
  <td>main@1019384604</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>20/02/10 13:36:34</td>   <td>15405</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveAutoQuoteTestNg.ProgressiveGetAQuote()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@5bfa9431]">ProgressiveGetAQuote</td> 
  <td>main@1019384604</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>20/02/10 13:36:36</td>   <td>17620</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveAutoQuoteTestNg.terminateTest()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@5bfa9431]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1019384604</td>   <td></td> </tr>
<tr bgcolor="9ad2e3">  <td>20/02/10 13:36:47</td>   <td>28838</td> <td title="&lt;&lt;ProgressiveAutoQuoteTestNg.tearDown()[pri:0, instance:TestNg.ProgressiveAutoQuoteTestNg@5bfa9431]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1019384604</td>   <td></td> </tr>
</table>
